@import '../../../../../styles/variables.scss';

.add-post-form {
  @include tile;

  @include for-mobile {
    width: $mobile-tile-width;
  }

  p {
    @include text;
    box-sizing: border-box;
    margin: 0 0 $gap-4 0;
    color: $red;
  }

  form {
    display: flex;
    position: relative;

    textarea {
      @include text;
      @include input-textarea;
      flex-grow: 1;
      font-family: 'Roboto';

      &::placeholder {
        @include text;
        padding: $gap-2;
      }
    }

    .save-icon {
      margin-left: $gap-4;

      button {
        background: none;
        border: none;
        cursor: pointer;
        &:focus {
          outline: none;
        }
      }

      .send-icon {
        color: $primary-color;
        width: $gap-34;
        height: $gap-34;
      }
    }
  }
}
