@import '../../../styles/variables.scss';

.settings-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 58px;
}

select,
button {
  cursor: pointer;
}

p {
  font-size: $gap-14;
}
