@import '../../../styles/variables.scss';
.login-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  .login-tile {
    @include tile;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 64px 128px;
    background-color: $white;
    min-height: 560px;
    width: $container-width;

    .logo {
      margin: 0 $gap-10 0 -16px;
    }

    .logo-wrapper {
      display: flex;

      h1 {
        font-size: 38px;
        font-weight: 500;
      }
    }

    .login-p {
      @include title;
      margin: $gap-24 0;
    }

    .login-btn {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      background-color: $primary-color;
      padding: 0 $gap-24 0 0;
      border: 1px solid $primary-color;
      border-radius: $tile-radius;
      outline: none;
      width: 270px;
      @include hover-transform-scale;

      .login-btn-p {
        margin: 0;
        color: $white;
        @include title;
      }
    }

    .google-logo-container {
      background-color: $white;
      border-radius: $tile-radius;
      padding: $gap-2;
      margin: $gap-8 $gap-24 $gap-8 $gap-10;
    }
  }
}
