@import '../../../styles/variables.scss';

.profile{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @include for-medium{
    flex-direction: column;
    align-items: center;
  }
}
