@import '../../../styles/variables.scss';

.profile {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  .rightside {
    margin-right: $gap-10;
  }

  @include for-medium {
    flex-direction: column;
    align-items: center;
  }
}
