$white: #ffffff;
$black: #000000;
$gray: #979797;
$green: #70d357;
$primary-color: #0093dd;
$secondary-color: #f7db17;
$gap-2: 2px;
$gap-4: 4px;
$gap-10: 10px;
$gap-20: 20px;
$gap-24: 24px;
$mobile-tile-width: 250px;
$tile-radius: 4px;
$tile-width: 450px;
$transform: scale(1.05);
$container-width: 944px;

@mixin for-mobile {
  @media screen and (max-width: 540px) {
    @content;
  }
}

@mixin title {
  font-size: 20px;
  font-weight: 500;
}

@mixin text {
  font-size: 14px;
  font-weight: 400;
}

@mixin button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 88px;
  height: 26px;
  color: $white;
  border-radius: 4px;
  border: none;
  padding: 4px;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
}

@mixin tile {
  width: $tile-width;
  background-color: $white;
  border-radius: $tile-radius;
  box-sizing: border-box;
  padding: $gap-24;
}
