$white: #ffffff;
$black: #000000;
$red: #c70e0e;
$grey: #979797;
$light-grey: #eeeef1;
$green: #70d357;
$primary-color: #0093dd;
$secondary-color: #f7db17;
$background-color: #f0eaea;
$chat-light-grey: #f4f4f8;
$gap-1: 1px;
$gap-2: 2px;
$gap-4: 4px;
$gap-6: 6px;
$gap-8: 8px;
$gap-10: 10px;
$gap-12: 12px;
$gap-14: 14px;
$gap-20: 20px;
$gap-24: 24px;
$gap-34: 34px;
$mobile-tile-width: 250px;
$tile-radius: 4px;
$tile-width: 450px;
$chat-tile-width: 296px;
$transform-scale: scale(1.05);
$container-width: 944px;

@mixin for-mobile {
  @media screen and (max-width: 540px) {
    @content;
  }
}

@mixin for-medium {
  @media screen and (max-width: 991px) {
    @content;
  }
}

@mixin hover-transform-scale {
  &:hover {
    transform: $transform-scale;
  }
}

@mixin input {
  border: 1px solid $light-grey;
  box-sizing: border-box;
  border-radius: $tile-radius;
}

@mixin title {
  font-size: 20px;
  font-weight: 500;
}

@mixin text {
  font-size: 14px;
  font-weight: 400; 
}

@mixin low-text {
  font-size: 10px;
  font-weight: 400;
}

@mixin button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 88px;
  height: 26px;
  color: $white;
  border-radius: 4px;
  border: none;
  padding: 4px;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  @include hover-transform-scale;
}

@mixin tile {
  width: $tile-width;
  background-color: $white;
  border-radius: $tile-radius;
  box-sizing: border-box;
  padding: $gap-24;
}
