@import '../../../styles/variables.scss';

.container {
  max-width: $container-width;
  margin: auto;
  min-height: 635px;

  .title {
    @include title;
    color: $black;
    display: flex;
    margin: 24px 0;
    &-friends {
      display: inline-block;
    }
  }

  span {
    margin-left: $gap-4;
    @include title;
    color: $grey;
  }
}
