@import '../../../styles/variables.scss';

.user-photo{
  position: relative;
  width: 125px;
  height: 125px;
  margin: 0 auto;

  img {
    width: 100%;
    border-radius: 50%;
  }
  
  .online-status {
    position: absolute;
    bottom: $gap-6;
    right: $gap-12;
    width: $gap-20;
    height: $gap-20;
    border: $gap-2 solid $white;
    border-radius: 50%;
    background: $green;
  }
}