@import '../../../styles/variables.scss';

.user-photo {
  position: relative;

  img {
    width: 124px;
    height: 124px;
    border-radius: 50%;
  }

  .online-status {
    position: absolute;
    bottom: $gap-10;
    right: 36px;
    width: $gap-20;
    height: $gap-20;
    border: $gap-2 solid $white;
    border-radius: 50%;
    background: $green;
  }
}
