@import '../../../../../styles/variables.scss';

.chat-list-item {
  @include tile;
  display: flex;
  padding: $gap-14;
  width: $chat-tile-width;
  height: 88px;
  margin-bottom: $gap-24;

  &:last-of-type {
    margin-bottom: $gap-4;
  }
  .chat-info {
    width: 100%;
  }

  .chat-photo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: $gap-14;
  }

  .chat-title {
    display: inline-block;
    font-size: $gap-14;
    font-weight: 500;
    text-transform: capitalize;
    margin: 0;
    vertical-align: top;
  }

  .chat-last-message-date {
    float: right;
    font-size: $gap-14;
    color: $grey;
    margin: 0;
  }

  .chat-snippet {
    font-size: $gap-14;
    color: $grey;
    margin-top: $gap-14;
  }
}

.chat-list-item:hover {
  background: $light-grey;
  cursor: pointer;
}

.chat-list-item-selected {
  @include tile;
  display: flex;
  padding: $gap-14;
  width: $chat-tile-width;
  height: 88px;
  margin-bottom: $gap-24;
  background-color: $primary-color;

  &:last-of-type {
    margin-bottom: $gap-4;
  }

  .chat-info {
    width: 100%;
  }

  .chat-photo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: $gap-14;
  }

  .chat-title {
    display: inline-block;
    font-size: $gap-14;
    font-weight: 500;
    text-transform: capitalize;
    margin: 0;
    text-align: left;
    color: $white;
    vertical-align: top;
  }

  .chat-last-message-date {
    float: right;
    font-size: $gap-14;
    color: $grey;
    margin: 0;
    color: $white;
  }

  .chat-snippet {
    font-size: $gap-14;
    color: $white;
    margin-top: $gap-14;
  }
  .js-shave-char {
    color: $white;
  }
}

.chat-list-item-selected:hover {
  cursor: pointer;
}
