@import '../../../styles/variables.scss';

.languages-wrapper {
  display: flex;
}
.btn-add-lang {
  background-color: $white;
  color: $primary-color;
  border: none;
  outline: none;
  margin: $gap-8 0 $gap-24 0;
  &:hover {
    color: $secondary-color;
  }
}

.divider {
  border-bottom: 1px solid $secondary-color;
}
.languages-div {
  min-height: 368px;
}
