@import '../../../styles/variables.scss';

.user-card {
  display: flex;
  @include tile;

  @include for-mobile {
    width: $mobile-tile-width;
    flex-direction: column;
    align-items: center;
  }

  .leftbar {
    position: relative;
    width: 180px;
    text-align: center;
    border-right: $gap-2 solid $secondary-color;
    text-decoration: none;
    color: $black;

    @include for-mobile {
      border-right: none;
      border-bottom: $gap-2 solid $secondary-color;
      margin-bottom: $gap-4;
    }

    h3 {
      @include title;
      margin: $gap-4;
    }

    p {
      @include text;
      margin: $gap-4;
      color: $grey;
    }
    
    .flag {
      display: flex;    
      justify-content: center;
    }

  }

  .rightbar {
    display: flex;
    flex-direction: column;
    width: 254px;
    padding: 0 $gap-14;

    @include for-mobile {
      width: auto;
      padding: 0;
    }

    .learning {
      flex-grow: 1;
    }

    .speaks,
    .learning {
      margin-bottom: $gap-20;

      h3 {
        color: $grey;
        font-weight: 400;
        margin: 0;
      }

      .languages {
        display: flex;
        justify-content: space-around;
        padding-left: $gap-8;
        margin-bottom: $gap-6;

        @include for-mobile {
          text-align: center;
        }

        p {
          @include text;
          padding-left: $gap-2;
          margin: $gap-4 0 0 0;
        }
      }
    }

    .buttons-action {
      width: 100%;
      display: flex;
      justify-content: space-around;

      @include for-mobile {
        text-align: center;
        margin: $gap-4;
      }

      .add-friend,
      .send-message {
        @include button;
      }

      .add-friend {
        background: $primary-color;
      }

      .send-message {
        background: $secondary-color;
      }
    }
  }
}
