@import '../../../styles/variables.scss';

.filter {
  float: left;
  @include tile;
  form {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-gap: 26px 14px;
    
    input {
      
      border-radius: $tile-radius;
      border: 1px solid $gray;
    }
    input[type=text] {
      height: 20px;
    }
    input[type=checkbox] {
      width: 14px;
      height: 14px;
      margin-right: 4px;
    }
    .years {
      display: flex;
      align-items: center;
      select {
        width: 40px;
      }
      .divider {
        margin: 0 10px;
        width: 12px;
        height: 1px;  
        border-bottom: 2px solid $gray;
      }
    }
    select {
      width: 172px;
      border-radius: $tile-radius;
      border-color: $gray;
      height: 24px;
    }
    button {
      @include button;
      justify-self: center;
      background-color: $primary-color;
      grid-column: 2 / 3;
    }
    label {
      text-align: left; 
      margin-right: 20px;
    }
  }
}