@import '../../../../../styles/variables.scss';

.about{
  @include tile;
  margin-top: $gap-24;

  @include for-mobile{
    width: $mobile-tile-width;
  }

  h3{
    @include title;
    margin: 0 $gap-4 $gap-10 0;
  }

  p{
    @include text;
    margin-bottom: 0;
  }
}