@import '../../../../../styles/variables.scss';

.chat-list {
  display: inline-block;

  &-container {
    height: 650px;
    overflow-y: scroll;
    margin-top: $gap-24;
    padding: 0 $gap-2;
  }

  .chat-search {
    margin-left: $gap-1;
  }
}
