@import '../../../../../styles/variables.scss';

.chat-search {
  @include tile;
  display: flex;
  height: 34px;
  width: $chat-tile-width;
  padding: 0;

  .search-input {
    @include text;
    border-radius: $tile-radius;
    height: 100%;
    width: 100%;
    padding: $gap-10;
    border: none;
    outline: none;
  }

  .search-input:focus {
    box-shadow: 0 0 0 $gap-2 $primary-color;
  }
}
