@import '../../../styles/variables.scss';

.preview-h1 {
  @include title;
  text-align: center;
  padding-top: $gap-24;
}

.preview-tile {
  @include tile;
  height: 330px;
  padding: 0;
  margin-bottom: $gap-24;
}
