@import '../../../styles/variables.scss';

.select-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.select {
  @include input;
  width: 170px;
  height: 22px;
  margin: 0 20px 6px 0;
  &:focus {
    outline-color: $grey;
  }
}
