@import '../../../../../styles/variables.scss';

.compose-input {
  width: 546px;
  height: 16px;
  padding: $gap-10;
  border: $gap-1 solid $gray;
  border-radius: $gap-4;
  outline-color: $primary-color;
}
