@import '../../../../../styles/variables.scss';

form {
  display: flex;
  position: relative;

  .compose-input {
    @include input;
    width: 500px;
    height: $gap-16;
    padding: $gap-16 $gap-4;
  }

  .save-icon {
    margin-left: $gap-14;

    button {
      background: none;
      border: none;
      cursor: pointer;
      &:focus {
        outline: none;
      }
    }

    .send-icon {
      color: $primary-color;
      width: $gap-34;
      height: $gap-34;
    }
  }
}
