@import '../../../../../styles/variables.scss';

.message-list {
  width: 614px;
  display: inline-block;
  vertical-align: top;
  margin-left: $gap-20;
  background-color: $white;
  border-radius: $tile-radius;
  box-sizing: border-box;
  padding: $gap-24;
}

.message-list hr {
  height: $gap-2;
  background-color: $secondary-color;
  border: none;
  margin: $gap-14 0;
}

.message-list-container {
  overflow-y: scroll;
  height: 500px;
  padding-right: $gap-4;
  @include scrollbar;
}

.user-data h2 {
  font-size: $gap-20;
  margin: 0;
  font-weight: 500;
}

.user-data p {
  margin-top: $gap-14;
  margin-bottom: 0;
  color: $grey;
  font-size: $gap-14;
}

.messageListReplace {
  padding: $gap-6 $gap-10;
  border-radius: $gap-4;
  background-color: $primary-color;
  color: $white;
  font-size: $gap-14;
  margin: 300px 0 0 180px;
  display: inline-block;
  position: absolute;
}
