@import '../../../../../styles/variables.scss';

.friends{
  @include tile;
  margin-top: $gap-24;

  @include for-mobile{
    width: $mobile-tile-width;
  }

    .title{
      @include title;
      position: relative;
      margin: $gap-4;
      text-decoration: none;
      color: $black;
      width: 100%;

    span{
      @include text;
      color: $gray;
      margin-left: $gap-4;
    }
  }

  .friends-list{
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;

     .friend{
       position: relative;
       flex-basis: 30%;
       text-align: center;
       text-decoration: none;
       color: $black;
       margin-top: $gap-20;

       .user-photo{
         @include for-mobile{
           width: 90px;
           height: 90px;
         }

         span{
           @include for-mobile{
             bottom: 0;
             right: $gap-10;
             width: 18px;
             height: 18px;
           }
         }
       }

      p{
        @include text;
        margin: 0px;
        font-weight: 500;
      }
    }
  }
}
