@import '../../../styles/variables.scss';

header {
  background-color: $primary-color;

  .wrapper {
    position: relative;
    max-width: $container-width;
    margin: 0 auto;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 2.3s;

    .logo {
      height: 48px;
      @include hover-transform-scale;
    }

    nav {
      display: flex;
      a {
        display: flex;
        align-items: center;
        margin-right: 30px;
        text-decoration: none;
        color: $white;
        @include hover-transform-scale;
      }
      img {
        height: 25px;
        cursor: pointer;
      }

      .avatar {
        border-radius: 50%;
        height: 48px;
        width: 48px;
        @include hover-transform-scale;
        img {
          @include avatar;
        }
      }

      .dropdown-menu {
        display: none;
        position: absolute;
        width: 110px;
        top: 60px;
        right: -24px;
        background-color: $primary-color;
        border-radius: $tile-radius;
        box-sizing: border-box;
        a {
          @include text;
          display: flex;
          justify-content: center;
          width: 100%;
          font-size: $gap-16;
          padding: $gap-8 0;
          color: $white;
          &:hover {
            text-decoration: underline;
            transform: none;
          }
          &:first-child {
            border-bottom: 1px solid #f0eaea;
          }
        }
        &-active {
          display: block;
        }
      }
    }
  }
}
