@import '../../../styles/variables.scss';

header {
  background-color: $primary-color;

  .wrapper {
    position: relative;
    max-width: $container-width;
    margin: 0 auto;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 2.3s;

    .logo {
      height: 48px;
      @include hover-transform-scale;
    }

    nav {
      display: flex;
      a {
        display: flex;
        align-items: center;
        margin-right: 30px;
        text-decoration: none;
        color: $white;
        @include hover-transform-scale;
      }
      img {
        height: 25px;
      }
      .dropdown-menu {
        display: none;
        position: absolute;
        list-style: none;
        top: 60px;
        right: -41px;
        a {
          display: block;
          padding: 7px 12px;
          margin: 2px 0 0 0;
          min-width: 103px;
          text-align: center;
          border-radius: $tile-radius;
          background-color: $primary-color;
          color: $white;
        }
        &-active {
          display: block;
        }
      }
    }
  }
}
