@import '../../../styles/variables.scss';

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 10px;

  .privacy-policy {
    @include text;
    text-align: center;
    width: 208px;
    margin: 0 auto 12px;
  }
  .register-nav {
    display: flex;
    justify-content: space-between;
  }
}
